!!!5
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en">        <!--<![endif]-->
include ../template/head
body
  .row
    .small-12.columns
      a#up.button.expand(href='#', data-id= playerId) Up
  .row
    .small-12.columns
      a#down.button.expand(href='#', data-id= playerId) Down
  .row
    .small-4.columns.x X
    .small-4.columns.y Y
    .small-4.columns.z Z
  .row
    .small-4.columns.x#x
    .small-4.columns.y#y
    .small-4.columns.z#z
  .row
    .small-12.columns#orientation
  .row
    .small-12.columns#position
  .row
    .small-12.columns
      a#calibrate.button.expand(href='#', data-id= playerId) Calibrate
include scripts.jade
</html>
