!!!5
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en">        <!--<![endif]-->
include ../template/head
body
  .row
    .small-12.columns
      a#up.button.expand(href='#', data-id= playerId) Up
  .row
    .small-12.columns
      a#down.button.expand(href='#', data-id= playerId) Down
</html>
