script(src="/javascripts/vendor/jquery-1.10.2.js")
script(src="/javascripts/vendor/foundation.min.js")
script(src="/javascripts/vendor/lodash.js")
script(src="/socket.io/socket.io.js")
script(src="/javascripts/app/mobileQR.js")
script(src="/javascripts/app/phone.js")
