!!!5
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en">        <!--<![endif]-->
include head
body
  include nav
  include gameForm
  block content
  include scripts
  if player
    include newGameForm

  div#gameContainer.hidden
    canvas#gameCanvas(width= '1000px', height= '500px')
    #gameStartButton.button
</html>
