.row
  .small-12.columns
    form#newGameForm(action='/', method='POST')
      fieldset
        legend New Game
        .row
          mixin field(8, 'text', 'game', null, null, 'Game Name', true)
          .small-4.columns
            button.button.radius.small.expand#startGame Start Game
        .row
          .small-12.columns
            #err= ' '

.row#options
  .small-12.columns
    fieldset
      .row
        .small-4.columns
          input(type='radio', name='controls', value='arrows', checked)
          Use Up/Down Arrow Keys
          br
          input(type='radio', name='controls', value='custom')
          Customize Keys
          br
          input(type='radio', name='controls', value='phone')
          Use Phone Controls
          br

        .small-8.columns
          #phoneControls.hidden
            img(src='http://qrickit.com/api/qr?d=http://54.200.60.66/phone/#{playerId}&qrsize=256')
            br
            span Scan the QR code with your phone
          #customControls.hidden
            span Up:
            span#upKey
            br
            span Down:
            span#downKey